<h2>All Fighters</h2>

<div class="character_index">
    <% @fighters.each do |fighter| %>
        <%= link_to(fighter, :class => "char_index" ) do %>
            <%= image_tag(fighter.stock_symbol, :class => "thumb", :alt => fighter.name) %>
            <%  if fighter.final_smash.present? %>
                <div class="char_hover">
                    Final Smash Preview:
                    <%= image_tag fighter.final_smash, :class => "index_preview" %>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>
