<div class="info_container">
    <h2>Index of Special Moves:</h2>
    <p>Click on the character to display links to their individual special moves!</p>

    <% @fighters.each do |fighter| %>
        <h3><%= fighter.name %></h3>
        <div class="inner_container">
        <% @specials.each do |special| %>
            <%= link_to image_tag(special.preview, :class => "special_select"), special if special.preview.present? && special.fighter.id == fighter.id %>  
        <% end %>
        </div>
    <% end %>
    <h3>Unassigned</h3>
    <div class="inner_container">
        <% @specials.each do |special| %>
            <%= link_to image_tag(special.preview, :class => "special_select"), special if special.preview.present? && special.fighter.present? == false %>  
        <% end %>
    </div>
</div>