<div class="info_container">
    <h2>Special Moves</h2>
    <p>These are attacks launched by pressing the "B" button with a certain directional input. Click on the preview to display links to their individual special moves!</p>

    <% @fighters.each do |fighter| %>
        <h3><%= fighter.name %></h3>
        <div class="inner_container">
        <% @specials.each do |special| %>
            <% if special.fighter.present? %>
                <%= link_to image_tag(special.preview, :class => "special_select"), special if special.preview.present? && special.fighter.id == fighter.id %>
            <% end %>  
        <% end %>
        </div>
    <% end %>
    <h3>Unassigned</h3>
    <div class="inner_container">
        <% @specials.each do |special| %>
            <%= link_to image_tag(special.preview, :class => "special_select"), special if special.preview.present? && special.fighter.present? == false %>  
        <% end %>
    </div>
</div>